name: Build

on: [push, pull_request]

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build Windows
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest && wails build -platform windows/amd64

      - name: Upload artifact (Windows)
        uses: actions/upload-artifact@v3
        with:
          name: youtrack-spotlight-windows
          path: build/bin/youtrack-spotlight.exe

  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build macOS
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest && wails build -platform darwin/universal

      - name: Upload artifact (macOS)
        uses: actions/upload-artifact@v3
        with:
          name: youtrack-spotlight-macos
          path: build/bin/youtrack-spotlight.app

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build Linux (AppImage)
        run: go install github.com/wailsapp/wails/v2/cmd/wails@latest && wails build -platform linux/amd64 -o "youtrack-spotlight.AppImage" --compiler="/usr/bin/gcc" --upx --ldflags "-s -w" --tags="appimage"
        env:
          # Required for AppImage build to find FUSE and other dependencies
          LD_LIBRARY_PATH: /usr/lib/x86_64-linux-gnu

      - name: Upload artifact (Linux AppImage)
        uses: actions/upload-artifact@v3
        with:
          name: youtrack-spotlight-linux-appimage
          path: build/bin/youtrack-spotlight.AppImage
